$info: #4988ca;
$link: #4988ca;
$bg-color: #fff;


@media (prefers-color-scheme: dark) {
  :root {
    background-color: #222;
    $bg-color: #222;
  }

  .title[data-v-25c182e1], .title.is-5, .footer, .footer.content {
    color: #ddd;
  }

  .footer, .content, .is-size-5 {
    background-color: #222 !important;
    color: #ddd;
  }

  .svg-inline--fa {
    color: #ddd;
  }

}

.select::after {
  border-color: hsl(0, 0%, 86%) !important;
}

.select select {
  border: none !important;
}

.button.is-text {
  background: none !important;
}

.is-borderless {
  border: none !important;
}

.is-transparent {
  background-color: transparent !important;
}

$card-radius: 25px !important;
.card {
  background-color: black !important;
  padding: 3rem !important;
  margin-bottom: 3rem !important;
}

.window {
  margin-top: 5rem !important;
  background: white !important;
  border-radius: 10px !important;
  padding: 4.5rem !important;
}

@import "~bulma";
@import "vue-loading-overlay/dist/vue-loading";

.clearfix {
  @include clearfix;
}

@include mobile {
  .card {
    padding: 2rem !important;
  }
}

@include mobile {
  .window {
    padding: 2.5rem !important;
  }
}

.is-loadable {
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}
