$info:  #4988ca;
$link: #4988ca;

.select::after {
  border-color: hsl(0, 0%, 86%) !important;
}

.select select {
  border: none !important;
}

.button.is-text {
  background: none !important;
}

.is-borderless {
  border: none !important;
}

.is-transparent {
  background-color: transparent !important;
}

$card-radius: 25px !important;
.card {
  background-color: #343d46 !important;
}

@import '~bulma';
@import "vue-loading-overlay/dist/vue-loading";

.clearfix {
  @include clearfix;
}