@import "./theme-day"
@import "./theme-night"

$footer-height: 60px

html
  height: 100%
body
  min-height: 100%
  position: relative

footer.footer
  position: absolute
  padding-left: 0 !important
  padding-right: 0 !important
  bottom: 0
  width: 100%

div#app
  margin-bottom: 250px // actual footer size in the browser
