input,
input:active,
input:focus,
select,
select:active,
select:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

input::placeholder {
  color: #dbdbdb !important;
}

.is-192x192 {
  width: 192px;
  height: 192px;  
}

a.button.is-text:hover, a.button.is-text:focus {
  background-color: transparent;
}

footer.footer {
  background-color: white;
}

input.input {
  color: black;
}

.nav-link {
  border-bottom: 1px solid #4988ca;
}

.nav-active {
  color: #363636;
  border-bottom: none;
}

@media (prefers-color-scheme: dark) {

  .nav-link {
    color: white;
  }

  .nav-active {
    color: #4e5d6c;
  }  

  input.input,
  .select select {
    background-color: #1f2d3b;
    color: #dbdbdb
  }

  footer.footer {
    background-color: #1f2d3b;
  }
}
