footer.footer(style="margin-top: 1em")
  .content.has-text-centered
    p 
      | DevTube has been developed by  
      a(href="/@codingandrey") @codingandrey
      |,  
      a(href="/@eduardsi") @eduardsi
      |  and 
      a(href="/contributors")
        i.far.fa-heart.has-text-danger
        | &nbsp;contributors
      | .
    p 
      | Inspired by 
      a(href="https://devternity.com" target="_blank") DevTernity 
      | – the top 3 developer conference in Europe.
    p 
      a(href="mailto:hello@dev.tube"): i.fa.fa-envelope
      |  &nbsp; 
      a(href="//twitter.com/WatchDevTube" target="_blank"): i.fab.fa-twitter
    hr
    p.is-size-7 
      | We use cookies to improve UX – sorting preference, night mode, resuming videos. To inspect and block cookies use 
      a(href="//ghostery.com") Ghostery
      |  on your browser. Here is our 
      a(href="//github.com/watch-devtube/privacy-policy") privacy policy
      | .