doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title {{{title}}}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='keywords' content='')
    meta(name='robots' content='index,follow')
    link(rel='shortcut icon' href='/favicon.png')
    link(rel='icon' href='/favicon.png')
    link(rel='alternate' type='application/rss+xml' title="Newly added videos" href='https://dev.tube/rss.xml')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js')
    |     {{#meta}}
    |       {{#name}}
    meta(name='{{name}}', content='{{{content}}}')
    |      {{/name}}
    |      {{^name}}
    meta(property='{{property}}', content='{{{content}}}')
    |     {{/name}}
    |   {{/meta}}
    script(type="application/ld+json").
      {{{jsonld}}}
    script.
      window.preloadedEntity = {{& preloadedEntity}}{{^preloadedEntity}}undefined{{/preloadedEntity}}
      window.serverSideError = {{& serverSideError}}{{^serverSideError}}undefined{{/serverSideError}}
      window.newVideos = {{& newVideos}}{{^newVideos}}[]{{/newVideos}}
      window.board = {{& board}}{{^board}}undefined{{/board}}
      window.speaker = {{& speaker}}{{^speaker}}undefined{{/speaker}}
      window.brownbag = {{& brownbag}}{{^brownbag}}undefined{{/brownbag}}
      window.featured = {{& featured}}{{^featured}}undefined{{/featured}}
    include yandex.pug
  body
    #vue
    include footer.pug
