doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title The best developer videos from YouTube – on DevTube
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='keywords' content='')
    meta(name='robots' content='index,follow')
    link(rel='shortcut icon' href='/favicon.png')
    link(rel='icon' href='/favicon.png')
    link(rel='apple-touch-icon' href='/favicon.png')
    link(rel='alternate' type='application/rss+xml' title="Newly added videos" href='https://dev.tube/rss.xml')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js')
    meta(name='apple-mobile-web-app-title' content='DevTube')
    include yandex.pug
    script.
      if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
        document.documentElement.style.display = 'none';
        document.head.insertAdjacentHTML(
            'beforeend',
            '<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" onload="document.documentElement.style.display = \'\'">'
        );
      }
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.8.0/superhero/bulmaswatch.min.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  body
    #vue
    include footer.pug
