doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title {{{title}}}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='keywords' content='')
    meta(name='robots' content='index,follow')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato')
    link(rel='shortcut icon' href='/favicon.png')
    link(rel='icon' href='/favicon.png')
    script(src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/dayjs/1.5.24/dayjs.min.js')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@WatchDevTube')
    meta(name='twitter:creator', content='@WatchDevTube')
    |     {{#meta}}
    meta(name='{{name}}', content='{{{content}}}')
    |     {{/meta}}
  body
    script.
      window.preloadedEntity = {{& preloadedEntity}}{{^preloadedEntity}}undefined{{/preloadedEntity}}
      window.serverSideError = {{& serverSideError}}{{^serverSideError}}undefined{{/serverSideError}}
      window.newVideos = {{& newVideos}}{{^newVideos}}[]{{/newVideos}}
      window.speaker = {{& speaker}}{{^speaker}}undefined{{/speaker}}
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter48723362 = new Ya.Metrika({
      id:48723362,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='//mc.yandex.ru/watch/48723362', style='position:absolute; left:-9999px;', alt='')
    #app
    script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b327a9f719db15f")
    script(defer='', src='//use.fontawesome.com/releases/v5.0.10/js/all.js')
