.card(onclick="page('video/superyo')")
    .card-image
        .image.is-16by9(style="background-image:url(https://img.youtube.com/vi/{{objectID}}/maxresdefault.jpg")
            .is-overlay
                p.ttl.is-uppercase.is-size-7 {{title}}
        .card-content
            nav.level.is-mobile
              .level-item.has-text-centered
                div
                  p.heading: i.far.fa-smile
                  p.title.is-size-7 {{((likes / (likes + dislikes) * 100) if (likes + dislikes > 0) else 0) | round}}%
              .level-item.has-text-centered
                div
                  p.heading Views
                  p.title.is-size-7 {{(((views / 1000)) | int  + '.' + ((views % 1000) | string | first) +  'K') if views > 1000 else views}}
              .level-item.has-text-centered
                div                
                  p.heading Duration
                  p.title.is-size-7 {{duration}}
              .level-item.has-text-centered
                div                
                  p.heading Date
                  p.title.is-size-7 {{publishedAt}}
            span.tag.is-uppercase Java 
            span.tag.is-uppercase {{channelTitle}} 
            span.tag.is-uppercase.is-success Top 100
            nav.actions.is-pulled-right
                i.fas.fa-star
                i.fas.fa-share-alt