doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title DevTube
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="description" content="The best developer videos in one place.")
		meta(name="keywords" content="")
		meta(name="robots" content="index,follow")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.8.6/page.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
		link(rel="stylesheet" type="text/css" href="/styles/main.css")

	body
		header
			.container
				nav.level
					.level-left
						.level-item
							img(src="/images/logo.png")
					.level-item.has-text-centered
						#search
		section.section
			.container
				.columns
					.column.is-one-quarter
						.columns
							.column
								h1.title Channel
								#channel.is-uppercase
						.columns
							.column
								h1.title Tags
								#tag.is-uppercase
						.columns
							.column
								h1.title Speaker
								#speaker.is-uppercase
					.column
						.columns
							.column
								.has-text-right
									#sort.select
						#videos
		section.section
			.container
				.columns
					.column
						nav.paging(role="navigation" aria-label="pagination")
		footer.footer
		script(src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js")
		script(defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js")
		script(src="/scripts/main.min.js")
